*{
  margin:  0;
  padding: 0;
}
.app-container {
  display: flex;
  margin-top: 0px; 
}
.content {
  margin-left: 70px; 
  padding: 20px;
  width: 100%;
}

.app-container {
  background-color: #f4f4f4;
  color: #000000;
}

.app-container.dark-mode {
  background-color: #121212;
  color: #ffffff;
}